# Dependencies
node_modules
node_modules/.cache

# Next.js
.next
out

# Vercel
.vercel

# Build
build.log
*.log

# OS
.DS_Store
**/.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo
